<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div *ngIf="!isAddMode">
    <h1>Bearbeiten</h1>
  </div>
  <div *ngIf="isAddMode">
    <h1>Neu erstellen</h1>
  </div>

  <div class="input-group mb-2">
    <input type="text" class="form-control" placeholder="Vorname" formControlName="firstName">
    <input type="text" class="form-control" placeholder="Nachname" formControlName="lastName">
  </div>
  <div class="input-group mb-2">
    <input type="text" class="form-control" placeholder="Telefonnummer" formControlName="phone">
  </div>
  <div class="input-group mb-2">
    <input type="text" class="form-control" placeholder="Straße" formControlName="street">
  </div>
  <div class="input-group mb-2">
    <input type="text" class="form-control" placeholder="PLZ" formControlName="postcode">
    <input type="text" class="form-control" placeholder="Ort" formControlName="city">
  </div>
  <div class="input-group mb-2">
    <label for="newSkill" class="form-label"><h5 class="m-0">Fertigkeiten</h5></label>
    <div class="input-group">
      <input id="newSkill" type="text" class="form-control" placeholder="Neue Fertigkeit hinzufügen" formControlName="newSkill">
      <button class="btn btn-outline-secondary" type="button" (click)="addSkill(employeeForm.get('newSkill')?.value)"><i class="bi bi-plus-square"></i></button>    </div>
  </div>
  <div formGroupName="skills" *ngIf="qualifications.length > 0">
    <div class="input-group mb-2" *ngFor="let quali of qualifications">
      <div class="input-group-text">
        <input class="form-check-input mt-0" type="checkbox" [formControlName]="quali.id.toString()">
      </div>
      <input type="text" class="form-control" value="{{quali.skill}}">
      <button class="btn btn-outline-secondary" type="button" (click)="deleteSkill(quali.id)"><i class="bi bi-x-square"></i></button>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="loading" class="btn btn-success">
      <span *ngIf="isAddMode">Erstellen</span>
      <span *ngIf="!isAddMode">Aktualisieren</span>
    </button>
  </div>
</form>
